* {
  margin: 0;
  padding: 0;
}

#container {
  background-color: rgb(248,249,250);
  margin-top: 20px;
  border-radius: 8px;
  border: 1px #ddd solid;
  height: 1067px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI';
}

#toolbar {
  position: relative;
  width: 30%;
  height: 100%;
  background-color: rgb(248,249,250);
  float: left;
  border-radius: 10px 0px 0px 10px;
  border-right: 1px #ddd solid;

}

#container-visualiser {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  width: 70%;
  height: 80%;
}

#footer {
  height:30px;
}

#roomvisualiser {
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #999;
  padding: 10px;
  background-color: #F6F6F6;
}

#visualiser {
  position: relative;

}



.material-icons:hover {
  color: #777777;
  cursor: pointer;
}

label.label-left-dark {
  color: #777;
  font-size: 14px;
  margin-bottom: 0.2em;
  display: block;
}

label.label-left-title {
  margin-bottom: 1em;
  font-weight: 600;
  display: block;
  font-size: 18px;
}

input[type=number],select {
  padding-left: 5px;
  color: #777;
  font-size: 14px;
  width: 70px;
  height: 35px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  width: 0.9rem;
  height: 2.5rem;
  cursor: pointer;
  border: solid black;
  border-width: 0 4px;
}

.horizontal-left-side-element {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 2px;
  height: 80px;
}

.left-container-child {
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #ddd;
  overflow-y: scroll;
  max-height: 230px;
}

.horizontal-width {
  display: flex;
  flex-direction: column;

}

.horizontal-width input[type=text] {
  padding-left: 5px;
  color: #777;
  font-size: 18px;
  width: 70px;
  height: 35px;
  background-color: rgb(248,249,250);
  border: 1px solid #ddd;
}

::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}

#popupContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #777;
}

.popupForm {
  margin-top: 6%;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 10;
  position: absolute;
}

.popUpSlidIn {
  animation-duration: 500ms;
  animation-name: slideIn;
  transition-timing-function: ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    margin-top: -5%;
  }

  to {
    opacity: 1;
  }
}

.popUpSlidOut {
  animation-duration: 500ms;
  animation-name: slideOut;
  transition-timing-function: ease-in-out;
}

@keyframes slideOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    margin-top: 50%;
  }
}

.transparenz {
  position: absolute;
  margin-top: -350px;
  margin-bottom: 100px;
  width: 100%;
  height: 1467px;
  z-index: 9;
  background-color: #000;
  opacity: .8;
}

.loader {
  animation: blinker 1.5s linear infinite;
  animation-name: loader-animation;
  transition-timing-function: ease-in-out;
  position: absolute;
  z-index: 100;
  margin: auto;
}

@keyframes loader-animation {
  50% {
    opacity: .2;
  }
}


.headerPopup {
  border-bottom: 1px solid #ddd;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 30px;
  min-width: 300px;
}

.contentPopup {
  padding: 30px 0px;
  font-size: 14px;
  padding: 30px;

}

.moreinfosPopup {
  font-size: 14px;
  color: #777;
  padding: 20px;
}
.moreinfosPopup p {
  max-width: 400px;
}

.popUpActions {
  float: right;
  display: flex;
  gap: 10px;
  padding: 0px 30px 20px 0px;
  margin: auto;
}
.popUpActions button{
  padding: 3px 10px;
  border: 0;
  height: 30px;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 2px;
}

.popUpActions button:hover{
  background-color: #ccc;
}

.popUpActions button:active{
  background-color: #999;
  color: #fff;
}

.contentPopup {
  display: flex;
  justify-content: space-around;
}

.contentPopup .right{
  position: relative;
  display: flex;
  flex-direction: column;
}
.contentPopup .left{
  position: relative;
  display: flex;
  flex-direction: column;
}

#workspaceHeader {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#workspaceHeader .headerRight {
  position: relative;
  width: 70%;
  height: 40px;;
}

#workspaceHeader #headerLeft {
  position: relative;
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}

#workspaceHeader .headerRight button{
  position: relative;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 8px 0px 0px 8px;
  width: 100%;
  height: 40px;
}

.roomChangerbtn {
  display: flex;
  width: 25%;
  height: 40px;
}

.custom-room-icons {
  border: 1px solid #ddd;
  border-radius: 0px 8px 8px 0px;
  background-color: #e8e8e8;
  width: 40%;
  height: 40px;
  padding: 7px;
  cursor: pointer;
}

#btnEmptyRoom{

}

input[type=range][orient=vertical] {
  -webkit-appearance: slider-vertical;
  width: 2px;
  cursor: pointer;
  margin-left: 8px;
}

#colorZoomBar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  gap: 20px;
  background-color: #eee;
  border: 1px #ddd solid;
  border-radius: 2px;
  padding: 1%;
  margin: 1.5%;
}

#zoomRange {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

#zoom {

}

#colorPickerTrigger {
  width:35px;
  height:35px;
  background-color: #11b0e7;
  border-radius: 2px;
  cursor: pointer;
}

#colorPickerTrigger span {
  padding: 5px;
}

#colorPickerContainer {
position: absolute;
  z-index: 100;
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: #f8f9fa;
  }
}

.objToolbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  height:40px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.icons {
  height: 26px;
  fill: #494949;
}

.orientation-text {
  position: relative;
  font-size: 14px;
  text-align: center;
  border-radius: 100%;
  text-align: center;
  background-color: #e8e8e8;
  box-shadow: inset 0.05em 0.05em 0.15em #494949;;
  color: #494949;
  font-weight: 500;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

#west-ost-visualiser {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#nsv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconscontainer {
  background-color: #e8e8e8;
  margin-left: 5px;
  border-radius: 4px;
  padding: 0px 4px 0px 4px;
  border: 1px solid #ddd;
}

.iconscontainer label{
  font-size: 12px;
}



@media only screen and (max-width: 1400px) {
  .hideStep1 {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .hideStep2 {
    display: none;
  }
  .roomdimension {
    flex-direction: column;
    height: 140px;
  }
  #container {
    height: 1127px;
  }
}

@media only screen and (max-width: 1000px) {
  #toolbar {
    width: 20%;
  }

  .hideStep3 {
    display: none;
  }

  #container-visualiser {
    width: 80%;
  }

  #workspaceHeader {

  }

  .horizontal-left-side-element {
    flex-direction: column;
  }

  #workspaceHeader {
    display: flex;
    flex-direction: column;
  }

  #workspaceHeader .headerRight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #workspaceHeader .headerLeft{
    display: flex;
    align-items: center;
  }
  .roomChangerbtn {
    display: flex;
    width: 120px;
    height: 40px;
  }
  #headerLeft{
    display: flex;
    margin-top: 10px;

  }

  .iconscontainer{

  }

}

@media only screen and (max-width: 770px) {
  .hideStep4 {
    display: none;
  }
  .roomChangerbtn {
    display: flex;
    width: 92px;
    height: 40px;
  }
  #workspaceHeader{
    display: flex;
    align-items: center;
  }
  #workspaceHeader .headerRight{
    position: relative;
    width: 100%;
  }
  #workspaceHeader #headerLeft{
    position: relative;
    width: 100%;
    margin-top: 0px;
    float: right;
  }
  #workspaceHeader .headerRight button{
    font-size: 10px;
    height: 30px;
    border-radius: 4px 0px 0px 4px;
  }
  .custom-room-icons {
    border: 1px solid #ddd;
    border-radius: 0px 4px 4px 0px;
    background-color: #e8e8e8;
    width: 32%;
    height: 30px;
    padding: 2px;
    cursor: pointer;
  }
  .btnEmptyRoom{
    border-radius: 4px;
  }


}


@media only screen and (max-width: 530px) {
  .hideStep5 {
    display: none;
  }
}


#loader {
  position: absolute;
  visibility: hidden;
  z-index: 100;
}

