#container {
  position: absolute;
  width: 1300px;
  height: 850px;
  background-color: rgb(248,249,250);
  margin-top: 20px;
  border-radius: 10px;
  border: 1px #ddd solid;
}

#toolbar {
  position: relative;
  width: 416px;
  height: 850px;
  background-color: rgb(248,249,250);
  float: left;
  border-radius: 10px 0px 0px 10px;
  border-right: 1px #ddd solid;
}


#container-visualiser {
  display: flex;
  justify-content: left;
}

#roomvisualiser {
  /*border: 3px solid blue;*/
}


#visualiser {
  position: relative;
  width: 700px;
  height: 700px;
  margin-left: 40px;
  margin-top: 10px;
}

#zoomRange {
  position: relative;
  display: block;
  width:50px;
  height:280px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

.material-icons:hover {
  color: #777777;
  cursor: pointer;
}


label.label-left-dark {
  color: #777;
  font-family: arial;
  font-size: 1.1em;
  margin-bottom: 0.2em;
  display: block;
}

label.label-left-title {
  margin-bottom: 1em;
  font-weight: 600;
  display: block;
  font-size: 1.3em;
}

input[type=number],select {
  padding-left: 5px;
  color: #777;
  font-size: 1.1em;
  width: 70px;
  height: 35px;
  background-color: rgb(248,249,250);
  border: 1px solid #ddd;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  width: 0.9rem;
  height: 2.5rem;
  cursor: pointer;
  border: solid black;
  border-width: 0 4px;
}

.horizontal-left-side-element {
  display: flex;
  justify-items: left;
  gap:12px;
}

.left-container-child {
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #ddd;
  overflow-y: scroll;
  max-height: 230px;
}

.horizontal-width {
  display: flex;
  flex-direction: column;
}

.horizontal-width input[type=text] {
  padding-left: 5px;
  color: #777;
  font-size: 1.1em;
  width: 70px;
  height: 35px;
  background-color: rgb(248,249,250);
  border: 1px solid #ddd;
}

h2 {
  color: #C6C6C6;
  text-align: center;
  font-family: arial;
  font-size: 20px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}

#popupContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: arial;
  color: #777;
}

.popupForm {
  margin-top: 6%;
  box-shadow: 5px 5px 10px #ccc;
  border-radius: 5px;
  background-color: #fff;
  z-index: 10;
  position: absolute;
  width: 650px;
}

.headerPopup {
  border-bottom: 1px solid #ddd;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-weight: bold;
  padding: 30px;
}

.contentPopup {
  padding: 30px 0px;
  font-size: 1em;
  padding: 30px;
}

.moreinfosPopup {
  font-size: 13px;
  color: #777;
  font-weight: bold;
  font-family: "Segoe UI Light";
  padding: 20px;
}

.popUpActions {
  float: right;
  display: flex;
  gap: 10px;
  padding: 0px 30px 20px 0px;
}
.popUpActions button{
  padding: 3px 10px;
  border: 0;
  height: 30px;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 2px;
}

.popUpActions button:hover{
  background-color: #ccc;
}

.popUpActions button:active{
  background-color: #999;
  color: #fff;
}

.contentPopup {
  display: flex;
  justify-content: space-around;
}

.contentPopup .right{
  float: left;
  width: 100px;
  border-right: 1px solid #ddd;
}
.contentPopup .left{
  float: left;
  width:100px;
}

#workspaceHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#workspaceHeader #headerRight {
  display: flex;
  gap: 20px;
  align-items: center;
}

#workspaceHeader #headerRight button{
  width: 120px;
  height: 30px;
  font-size: 16px;
  font-family: "Segoe UI Light";
  font-weight: 500;
  letter-spacing: 1px;
  background-color: white;
  border: 0;
  box-shadow: 0px 0px 8px #777;
}

#linkedicon {
  margin-top: 35px;
}

input[type=range][orient=vertical] {
  -webkit-appearance: slider-vertical;
  width: 2px;
  height: 200px;
  cursor: pointer;
  margin-left: 8px;
}

hr{

  border: none;
  border-left:    1px solid hsla(200, 10%, 50%,100);
  height:         100px;
  width:          1px;
}

#colorPickerTrigger {
  width:30px;
  height:30px;
  background-color: #11b0e7;
  border-radius: 2px;
  border: 1px solid #777;
  margin-left: 13px;
  margin-top: 80px;
  cursor: pointer;
}

#colorPickerContainer {
position: absolute;
  z-index: 100;
  width: 1300px;
  height: 850px;
  display: flex;
  justify-content: center;
}



