<div class="container pt-5">
  <div class="container text-center">
    <button type="button" routerLink="/group-slider" class="btn btn-secondary mb-3 btn-lg btn-block">Gruppe erstellen</button> oder <button type="button" routerLinkActive="/room-slider" class="btn btn-secondary mb-3 btn-lg btn-block">Importieren</button>
    <br>
    <button type="button" routerLink="/room-slider" class="btn btn-secondary mb-3 btn-lg btn-block">Raum erstellen</button> oder <button type="button" routerLinkActive="/room-slider" class="btn btn-secondary mb-3 btn-lg btn-block">Importieren</button>
    <br>
    <button type="button" routerLink="/generate" disabled class="btn btn-secondary mb-3 btn-lg btn-block">Sitzordnung erstellen</button>
  </div>
</div>
