<div class="container h-100 mt-3 bg-light border rounded-3 text-center">
  <div class="d-grid gap-2 justify-content-center mt-3">
    <div class="btn-group">
      <button type="button" (click)="editOrCreatGroup()" class="w-75 btn mb-3 btn-lg btn-block" [ngClass]="{'btn-success':this.isDataExist(), 'btn-primary': !this.isDataExist()}">{{gruppeStatus}}</button>
      <button type="button" (click)="ImportBox()" class="material-icons md-48 btn btn-secondary mb-3 btn-lg btn-block" [ngClass]="{'rounded-end':!this.isDataExist()}" title="Import">file_open</button>
      <button type="button" (click)="removeGruppe()" class="btn btn-danger bg-danger btn-sm btn-block material-icons mb-3" [ngClass]="{'visually-hidden':!this.isDataExist()}" title="Delete">delete</button>
    </div>
    <div class="btn-group">
      <button type="button" routerLink="/room" class="w-100 btn btn-primary mb-3 btn-lg btn-block" >Raum erstellen</button>
      <button type="button" disabled class="material-icons md-48 btn btn-secondary mb-3 btn-lg btn-block" (click)="ImportBox()" title="Import">file_open</button>
    </div>
    <div class="btn-group">
      <button type="button" routerLink="/generate" disabled class="w-100 btn btn-primary mb-3 btn-lg btn-block" >Sitzordnung erstellen</button>
    </div>
  </div>
</div>
<app-import-csv></app-import-csv>


<!-- Modal -->
<div class="modal fade" id="InfoMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="InfoMessageTitle">Achtung !</h5>
        <button (click)="closeInfoMessageModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Möchten Sie Ihre aktuelle Daten löschen ?
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeInfoMessageModal()">Nein</button>
        <button type="button" class="btn btn-outline-dark" (click)="confirmModalText()">Ja</button>
      </div>
    </div>
  </div>
</div>
