.nextButton{
  float: right;
  position: relative;
  right: 11%;
  font-size: 15px;
  background-color: #11b0e7;
  color: white;
  border: none;
  padding: 0.5%;
  cursor: pointer;

}
.backButton{
  float: left;
  position: relative;
  left: 11%;
  font-size: 15px;
  background-color: #11b0e7;
  color: white;
  border: none;
  padding: 0.5%;
  cursor: pointer;

}
