<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click)="this.mainMenu.editOrCreatGroup()"><h5><mat-icon fontSet="material-icons-outlined">groups</mat-icon> Gruppe</h5></a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="/room"><h5><mat-icon fontSet="material-icons-outlined">layers</mat-icon> Raum</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="" aria-disabled="true"><h5><mat-icon fontSet="material-icons-outlined">event_seat</mat-icon> Sitzordnung</h5></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
