@media (min-width: 992px) {
  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }
}

@media (max-width: 993px) {
  .navbar-nav > li {
    float:none;
    margin:0 auto;
    text-align: center;
  }
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.nav-link {
  cursor: pointer;
}
