<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"><div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle1">Erstellen Sie eine Passwort um ihre Daten zu schützen</h5>
      <br>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div class="modal-body">
       <!-- <small id="FileTypHelp1" class="form-text text-secondary" style="margin-left: 10px">Gruppe Name*</small>
        <input id="nameOfGroup" class="form-control form-control-lg" type="text" placeholder="Gruppe Name" (keyup)="onKey($event)">
        <small id="FileTypHelp2" class="form-text text-danger" style="margin-left: 10px">{{messageFilenameEmpty}}</small>-->
        <div>
          <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponentWithValidation.color">
            <mat-label>Gruppen Name</mat-label>
            <input #myInput1
                   matInput  placeholder="Name der Gruppe eingeben"
                   [formControl]="confirmFormControl1"
                   required
                   (keyup)="onKey($event)"/>
            <mat-error *ngIf="confirmFormControl1.hasError('required')">
              Bitte name ihrer Gruppe eingeben
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponentWithValidation.color" >
            <mat-label>Passwort</mat-label>
            <input #myInput matInput
                   #passwordWithValidation
                   placeholder="Neues Passwort eingeben"
                   [type]="hide ? 'password': 'text'"
                   required
                   [formControl]="passwordComponentWithValidation.passwordFormControl"
                   [(ngModel)]="password" />

            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
              'visibility'}}</mat-icon>
            <mat-hint align="end" aria-live="polite">
              {{passwordWithValidation.value.length}} / 25
            </mat-hint>
            <mat-error
              *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')">
              Bitte neues Passwort eingeben
            </mat-error>
            <mat-error
              *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('pattern')">
              Passwort ist ungültig
            </mat-error>
          </mat-form-field>
          <br>
          <mat-password-strength
            #passwordComponentWithValidation
            (onStrengthChanged)="onStrengthChanged($event)"
            [password]="passwordWithValidation.value">
          </mat-password-strength>
          <!--Password's strength info-->
          <mat-password-strength-info
            [lowerCaseCriteriaMsg]="'Enthält mindestens ein unteres Zeichen '"
            [upperCaseCriteriaMsg]="'Enthält mindestens ein oberes Zeichen '"
            [digitsCriteriaMsg]="'Enthält mindestens eine Ziffer '"
            [specialCharsCriteriaMsg]="'Enthält mindestens ein Sonderzeichen' "
            [minCharsCriteriaMsg]="'Enthält mindestens 8 Zeichen' "
            [passwordComponent]="passwordComponentWithValidation">
          </mat-password-strength-info>
          <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponentWithValidation.color">
            <mat-label>Passwort bestätigen</mat-label>
            <input #myInput2
              matInput  placeholder="Passwort bestätigen" [type]="hide ?
              'password' : 'text'"
              [formControl]="confirmFormControl"
                   required
                   pattern="{{ myInput.value }}"
              [(ngModel)]="confirmPassword"/>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
              'visibility'}}</mat-icon>
            <mat-error *ngIf="confirmFormControl.hasError('required')">
              Bitte erneut das Passwort eingeben
            </mat-error>
            <mat-error *ngIf="confirmFormControl.hasError('pattern')">
              Passwort & Passwort bestätigen stimmen nicht überein            </mat-error>
          </mat-form-field>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Schlißen</button>
        <button type="button" class="btn btn-outline-dark" (click)="ExportGroupCSV()">Speichern und als CSV herunterladen</button>
      </div>
    </div>
  </div>
</div>
